<h1>What's going on here?</h1>
<p>
  This page is a test of using VMWare's new Project Clarity design framework in an angular-cli project.  This is a very simple page layout that doesn't use a side nav.  
</p>

<p>
  The <code>package.json</code> file for this project looks like the following:
</p>

<pre>
  <code ng-non-bindable clr-code-highlight="language-css">
    {{packageCode}}
  </code>
</pre>

<p>The <code>angular-cli.json</code> file looks like:</p>

<pre>
  <code ng-non-bindable clr-code-highlight="language-css">
    {{angularCode}}
  </code>
</pre>

<p>Note that scripts and styles for Clarity are added through <code>angular-cli.json</code> and are not added with a script or stylesheet tag.</p>
